.search {
  padding-bottom: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 320px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    &:focus-visible {
      outline: none;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    &:focus-visible {
      outline: none;
    }
  }
}
